/* * {
	margin: 0;
	padding: 0;
} */

/* .App {
	display: flex;
	/* width: 100%;
	height: 100vh; */
/* justify-content: center;
	align-items: center; */

/* .App-logo {
	height: 40vmin;
	pointer-events: none;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */

/* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
} */

/* .App-link {
	color: #61dafb;
} */

/* @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

.userCard {
	width: 19rem;
	height: 30rem;
	border-radius: 10px;
	box-shadow: 0px 1px 10px 1px black;
	overflow: hidden;
}

.upper-container {
	height: 7rem;
	background: linear-gradient(darkblue, pink);
}

.image-container img {
	background: white;
	width: 7.8125rem;
	height: 7.8125rem;
	border-radius: 50%;
	padding: 5px;
	transform: translate(95px, 45px);
	border: solid 1px grey;
}

.card-content {
	margin: auto;
	margin-top: 4.1rem;
	margin-bottom: 0;
	overflow: hidden;
	border: 2px green solid;
}

.card-buttons {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	border: 2px solid red;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.briefintro-hide-overflow {
	box-sizing: border-box;
	max-height: 9.6rem;
	padding: 0;
	margin: 0;
	margin-bottom: 1rem;
	overflow: hidden;
	border: 2px solid blue;
}
.lower-container {
	height: 100%;
	background: pink;
	text-align: center;
	border: solid 1px grey;
	padding: 0;
	margin: 0;
}

.lower-container h3,
h4,
p {
	margin: 0;
	padding: 0;
}

.lower-container h3 {
	color: black;
	font-weight: 600;
	font-size: 1.5rem;
}

.lower-container h4 {
	color: violet;
	font-weight: 700;
	font-size: 1.2rem;
}

.lower-container p {
	margin: 1rem;
	font-family: sans-serif;
	color: darkmagenta;
	font-size: 1rem;
	text-align: justify;
	justify-content: center;
}

.landingPage {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-image: url("https://images.typeform.com/images/jGgjDAamS9S7/background/large");
	background-size: cover;
	background-repeat: no-repeat;
}

#app-title {
	color: white;
	font-size: 7em;
	font-weight: 600;
}

.enter-site {
	transform: translate(0, 250px);
}

.NewUserForm-container {
	box-sizing: border-box;
	max-height: 100%;
	max-width: 100vw;
	align-items: center;
	border: 2px solid;
	justify-content: center;
	background-image: url("https://images.typeform.com/images/jGgjDAamS9S7/background/large");
	background-repeat: repeat;
	background-size: contain;
}

.NewUserForm {
	box-sizing: border-box;
	max-width: 70vw;
	margin: auto;
	margin-top: 5em;
	margin-bottom: 5em;
	border: 2px solid black;
	border-radius: 30px;
	padding: 1rem;
	background-color: #2f3138;
	color: white;
}

label {
	display: block;
	padding: 3rem, 0.5rem;
	font-size: 18px;
}
input,
textarea {
	display: block;
	width: 100%;
	border: 2px solid black;
	font-size: 16px;
	background-color: #494242;
	border-radius: 7px;
	color: white;
}

.submit-btn {
	border: 0;
	background: dimgrey;
	padding: 0.5rem;
	color: white;
	margin: 1rem;
	width: auto;
	text-transform: uppercase;
	border-radius: 7px;
	cursor: pointer;
	transition: 0.3s background ease;
}

.submit-btn:hover {
	background: forestgreen;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	height: 7rem;
	width: 100vw;
	color: white;
	background-color: #2f3138;
	flex-wrap: nowrap;
	flex-direction: row;
}

#navbar-title {
	font-size: 5rem;
}

.navbar-links {
	font-size: 1.5rem;
	text-decoration: none;
}

.users-page {
	box-sizing: border-box;
	min-height: 100vh;
	max-width: 100vw;
	align-items: center;
	justify-content: center;
	background-image: url("https://images.typeform.com/images/jGgjDAamS9S7/background/large");
	background-repeat: repeat;
	background-size: contain;
}
.user-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 3rem;
	margin-bottom: 0;
	box-sizing: border-box;
	max-width: 100vw;
	padding: 1rem;
	height: 100%;
}

.searchbar-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#searchbar {
	width: 40em;
	height: 3em;
	margin: 3em;
}

/* .expanded-card {
	border: solid 2px red;
} */

.button-62 {
	background: linear-gradient(to bottom right, darkblue, pink);
	border: 0;
	border-radius: 12px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 2.5;
	outline: transparent;
	padding: 0 1rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
}
.button-62-delete {
	background: linear-gradient(to bottom right, darkred, pink);
	border: 0;
	border-radius: 12px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 2.5;
	outline: transparent;
	padding: 0 1rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
}

/* .button-62:not([disabled]):focus {
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
		-0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
		0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
} */

.button-62:not([disabled]):hover {
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
		-0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
		0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62-delete:not([disabled]):hover {
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
		-0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
		0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.modal-header {
	padding: 0;
	background: linear-gradient(darkblue, pink);
	width: 100%;
	border: 2px red solid;
}

.modal-body {
	padding: 0;
	background: pink;
	width: 100%;
}

.modal-image-container img {
	background: white;
	width: 7.8125rem;
	height: 7.8125rem;
	border-radius: 50%;
	padding: 5px;
	transform: translate(20px, 10px);
	border: solid 2px red;
}
